certEmail: "${cert_email}"
subscriptionId: "${subscription_id}"
userAssignedClientId: "${user_assigned_client_id}"
agfcResourceId: "${agfc_resource_id}"
agfcFeName: "${agfc_fe_name}"
namespace: "${namespace}"
feGrpcPort: "${fe_grpc_port}"
feService: "${fe_service}"
dnsZone: "${dns_zone}"
