build:instance_local --@google_privacysandbox_servers_common//:instance=local
build:instance_gcp --@google_privacysandbox_servers_common//:instance=gcp
build:instance_aws --@google_privacysandbox_servers_common//:instance=aws

build:platform_local --@google_privacysandbox_servers_common//:platform=local
build:platform_gcp --@google_privacysandbox_servers_common//:platform=gcp
build:platform_aws --@google_privacysandbox_servers_common//:platform=aws

build:local_local --config=instance_local
build:local_local --config=platform_local

build:local_gcp --config=instance_local
build:local_gcp --config=platform_gcp

build:gcp_gcp --config=instance_gcp
build:gcp_gcp --config=platform_gcp

build:local_aws --config=instance_local
build:local_aws --config=platform_aws

build:aws_aws --config=instance_aws
build:aws_aws --config=platform_aws

build:non_prod --//:build_flavor=non_prod
build:non_prod --//:inference_build=yes
build:non_prod --//:inference_runtime=all
build:non_prod --@google_privacysandbox_servers_common//:build_flavor=non_prod
build:prod --//:build_flavor=prod
# TODO(b/325487321): Change the default value of inference_build and
# inference_runtime.
build:prod --//:inference_build=yes
build:prod --//:inference_runtime=all
build:prod --@google_privacysandbox_servers_common//:build_flavor=prod
