PyYAML==6.0.2
google-cloud-monitoring==2.24.0
protobuf==5.29.1
google_api_core==2.24.0
google_auth==2.37.0
proto_plus==1.25.0
cachetools==5.5.0
google_api_core==2.24.0
googleapis_common_protos==1.66.0
pyasn1_modules==0.4.1
requests==2.32.3
rsa==4.9
pyasn1==0.6.1
idna==3.10
certifi==2024.8.30
charset_normalizer==3.4.0
urllib3==2.2.3
grpcio==1.68.1
grpcio_status==1.68.1
grpcio-tools
grpcio-gcp==0.2.2
boto3>=1.35.87
jmespath==1.0.1
botocore==1.35.87
s3transfer==0.10.4
python_dateutil==2.9.0
six==1.17.0
